body{
    display: flex;
    flex-direction: column;
    margin: 0%;

}
.Headlogo{
    font-family: "Roboto",Arial, sans-serif;
    font-weight: bolder;
}

.header{
    display: flex;
    justify-content: space-between;
}

ul.head-ul{
    display: flex;
    gap: 12px;
}

.head-midel{
    display: flex;
    justify-content: space-between;
}
.uper{
    display: flex;
    flex-direction: column;
    gap: 42px;
    min-width: 800px;
    min-height: 350px;
    justify-content: space-between;
    
}

.up-contant{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #1f2937;
    color: aliceblue;
    padding-bottom: 100px;
}

ul.head-ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #eee;
}
.head-holde-img img{
    max-width: 300px;
    max-height: 200px;
}
.signup{
    background-color: #3882F6;
    color: #eee;
    font-family: "Roboto",Arial, sans-serif;
    padding: 2px;
    max-width: 70px;
    text-align: center;
    border-radius: 5px;
}
.child-head-midel{
    max-width: 300px;
}

.title{
    font-size: 36px;
    font-weight: 900;
    margin: 30px;
   
}

.midel-pic{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.midel-contant{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    
}
.info img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
    border:3px solid #3882F6;
}
.info{
    text-align: center;
    max-width: 160px;
}
.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB ;
    align-items: center;
    padding: 60px;
}
.quote-titel{
    font-size: 30px;
    max-width: 700px;
    color: #1F2937;
    
    
}
.note{
    font-size: 20px;
    font-weight: bold;
    min-width: 650px;
    text-align: end;
}